page-login {
  ion-content{
    background: #0e2449; /* Old browsers */
    background: -moz-linear-gradient(left, #0e2449 0%, #2b146b 29%, #2b146b 74%, #0e2449 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0e2449 0%,#2b146b 29%,#2b146b 74%,#0e2449 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0e2449 0%,#2b146b 29%,#2b146b 74%,#0e2449 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  img{
    width: 150px;
  }
  .top-20{
    margin-top: 20%;
  }
  .top-5{
    margin-top: 5%;
  }
  h3{
    color: white;
  }
}
